/vendor/
/node_modules/

/templates_c/*
!/templates_c/.gitkeep

/cache/*
!/cache/.gitkeep

/public/assets/css/*.css
!/public/assets/css/.gitkeep

.env
.DS_Store
*.log

/.phpunit.cache
/.php-cs-fixer.cache
